* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen{
    position: relative;
    transition: background-color 2s;
}

.bg-light{
    background-color: lightgray;
}

.bg-dark{
    background-color: #000;
}

.container {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.items {
    width: 700px;
    height: 500px;
}

.item {
    height: 100%;
    display: none;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    display: block;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

.thumbs {
    height: 500px;
    background: #000;
    position: relative;
}

.thumb {
    height: calc((500px) / 5);
    opacity: 0.5;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb.active {
    border: 2px solid #ccc;
    opacity: 1;
}

.prev, .next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.next {
    bottom: 0;
}

.prev::after {
    content: '';
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}


/*-----------
     TOGGLE
-------------*/
.style-bw{
    position: absolute;
    top: 20px;
    right: 20px;
}


#toggle{
    display: none;
}

.button{
    display: inline-block;
    width: 45px;
    height: 25px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.button::after{
    content: "\f185";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #fff;
    width: 20px;
    height: 20px;
    background-color: #e03c3c;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s,
    transform 1s ease-in;
}

#toggle:checked + .button::after{
    content: "\f186";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: lightgray;
    background-color: #1f257f;
    transform: translateX(20px) rotate(360deg);
}